* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-image: url("/imgs/background.jpg");
    background-size: 125%;
    background-position: center;
}

.spielbrett {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-left: 15%;
}

.karte {
    width: 130px;
    height: 130px;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.karte .oberseite {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-position: center;
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-color: #ffffff;
}


.karte .symbol {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-position: center;
    background-size: 77% 77%;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.karte .symbol {
    transform: rotateY(180deg);
}

.karte .oberseite {
    background-image: url("./imgs/top.png");
}

.karte.gewendet {
    transform: rotateY(180deg);
}

.nebenfeld {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .highscore-box {
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.242);
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .schrift {
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }
  
  .highscore {
    float: right;
    position: relative;
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    color: yellow;
    text-shadow: 1px 1px 2px black;
  }
  
  .neustart {
    width: 8rem;
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    background-color: #2144f3;
    border: 1px solid #065290;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-shadow: 1px 1px 2px black;
    transition: all 0.2s;
  }
  
  .neustart:hover {
    background-color: #07307c;
    border-color: #6607c6;
    cursor: pointer;
  }

  .ende {
    position: fixed;
    top: 0.5rem;
    margin-left: 2rem;
    width: 63rem;
    background-color: rgba(255, 255, 255, 0.266);
    border: 4px solid purple;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
  }
  
  .endtext {
    float: left;
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    color: whitesmoke;
    text-shadow: 1px 1px 2px darkblue;
  }
  
  .endhighscore {
    float: right;
    font-family: "Orbitron", sans-serif;
    font-size: x-large;
    color: yellow;
    text-shadow: 1px 1px 2px darkblue;
  }